@import "tailwindcss";
@keyframes gradientBackground {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, Helvetica, sans-serif;

  background: linear-gradient(-45deg, #1e3e75, #193a66, #536fcc, #2f323e);
  background-size: 400% 400%;
  animation: gradientBackground 15s ease infinite;
}
/* Temel stiller */
.form-group {
  position: relative;
  margin-top: 1.5rem;
}

.form-input,
.form-input:focus,
textarea.form-input {
  width: 100%;
  padding: 12px 10px 8px;
  font-size: 16px;
  border: none;
  border-bottom: 2px solid #ccc;
  background-color: transparent;
  color: #000;
  transition: border-color 0.2s;
}

.form-input:focus,
textarea.form-input:focus {
  border-bottom-color: #2563eb; /* blue-600 */
  outline: none;
}



.form-label {
  position: absolute;
  top: 12px;
  font-size: 14px;
  color: #fff; /* gray-500 */
  pointer-events: none;
  transition: all 0.2s ease;
}

.form-group:hover .form-label,
.form-label.active {
  top: -10px;
  font-size: 12px;
  color: #fff; /* blue-600 */
 
  padding: 0 4px;
}

textarea.form-input {
  resize: vertical;
}



.animate-shake {
  animation: shake 0.5s ease-in-out;
}

@theme {
  --spacing-sectionX: 3.125rem;
  --spacing-sectionX-m: 1rem;

  --spacing-sectionY: 6.25rem;
  --spacing-sectionY-m: 3.125rem;

  --spacing-section: 3.125rem 6.25rem;
  --spacing-section-m: 1rem 3.125rem;
  --color-text: #1e3e75;
  --color-background: #193a66;
  --color-primary: #536fcc;
  --color-secondary: #2f323e;
  /* H0 Clamp: Normally, 128px on Desktop */
  --text-h0: clamp(2.5rem, 5vw, 8rem);

  /* H1, H2 clamp, 64px on a normal desktop */
  --text-h1: clamp(1.5rem, 3vw, 4rem);
  --text-h2: clamp(1.5rem, 3vw, 4rem);

  /* H3 clamp, 32px on a normal desktop */
  --text-h3: clamp(1.25rem, 2.5vw, 2.5rem);
}

@layer base {
  /* Apply global text color */
  
  body {
    color: var(--color-text);
    letter-spacing: -0.02em;
    
  }

  /* Typography base styles */
  h1,
  h2,
  h3 {
    text-transform: uppercase;
    letter-spacing: -0.05em;
  }

  section {
    padding:0;
  }
}

@layer components {
  h1 {
    font-size: var(--text-h1);
  }

  h2 {
    font-size: var(--text-h2);
  }

  h3 {
    font-size: var(--text-h3);
  }

  .button-primary {
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: var(--color-background);
    background-color: var(--color-primary);
    font-weight: 600;
  }
  .button-secondary {
    text-transform: uppercase;
    width: fit-content;
    padding: 0.5rem 2rem;
    border-radius: 1.5rem;
    color: var(--color-primary);
    background-color: var(--color-background);
    font-weight: 600;
  }
  .fade-in {
  animation: fadeIn 1.2s ease forwards;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(15px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-wave {
  background-size: 200% 200%;
  animation: waveGradient 10s ease infinite;
}

@keyframes waveGradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

}